button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

.bold{
    font-weight: 700;
}



.BlueSelection{
    color: #5286F8;
}

.whiteText{
    color: #FFFFFF;
}





.sectionTitle{
    margin-top: 10vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 35 * (100vw / 1440));
    line-height: calc(20px + 35 * (100vw / 1440));

}






/*anotherQuestions sections*/












@media all and (max-width: 1440px) {
    .intro {
        height: 100vh;
    }

    .introContainer{
        height: 100vh;

    }
}

@media all and (max-width: 1024px) {
    .intro {
        height: 100vh;
    }

    .introContainer{
        height: 100vh;

    }

}


@media all and (max-width: 700px) {
    .intro {
        height: 100%;
    }

    .introMainText{
        margin: 0 auto;
        margin-top: 5vh;
    }

    .introSecondaryText{
        margin: 0 auto;
        margin-top: 5vh;
    }

    .mainLogo{

    }

    .mainButton{
        margin: 0 auto;
        margin-top: 5vh;
    }



    .introContainer{
        height: 100%;
        padding-bottom: 20px;
    }

    .cardsRow{
        display: none;
    }

    .slider{
        display: block;
    }

    .card{
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }
}
