button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

.bold{
    font-weight: 700;
}



.BlueSelection{
    color: #5286F8;
}

.whiteText{
    color: #FFFFFF;
}





.sectionTitle{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 35 * (100vw / 1440));
    line-height: calc(20px + 35 * (100vw / 1440));

}






/*introSubPages sections*/



.introSubPages{
    height: 100%;
    background-color: black;

}

.navBar{
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid black;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    algin-items: center;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;

}

.navRow{
    margin-top: auto;
    vertical-align: middle;
    height: inherit;
    display: flex;
    align-items: center;
}

.arrowBlock{
    height: 100%;
    display: block;



}

.arrowBack{

}

.navTextCol{
    padding-top: 0px;
}

.navText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;

    font-size: calc(25px + 23 * (100vw / 1440));
    line-height: calc(25px + 23 * (100vw / 1440));
    text-align: center;
    color: #000000;
    vertical-align: middle;
    margin-bottom: 0;

    font-size: calc(20px + 20 * (100vw / 1440));
    line-height: calc(20px + 20 * (100vw / 1440));

}


.introSubPagesBlock{
    padding: 0 3% 0 3%;
    height: 100%;
    background-color: #FFFFFF;

    padding-bottom: 10vh;

}

.introSubPagesText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin-top: 10vh;
    font-size: calc(25px + 20 * (100vw / 1440));
    line-height: calc(25px + 20 * (100vw / 1440));
}

.introSubPagesSecondText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(25px + 15 * (100vw / 1440));
    line-height: calc(20px + 15 * (100vw / 1440));
    margin-top: 10vh;
    color: #A2A2A2;
}

/*intro SubPages section end*/

/*DetailsSubPages*/

.detailsSubPages{
    padding-top: 10vh;
    height: 100%;
    background-color: black;
    padding-bottom: 10vh;
}

.detailCon{
    background-color: black;
    height: 100%;
    padding: 0 3% 0 3%;

}

.detailMain{
    margin-top: 5vh;

}

.detailsTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(25px + 25 * (100vw / 1440));
    line-height: calc(25px + 25 * (100vw / 1440));
    color: #FFFFFF;
}

.rowTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
}

.verticalLineBlock{
   justify-content: center;
}

.verticalLine{
    border: 2px solid white;
    height: 500px;
}

 .radius {
    border: 30px solid white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    top: 1478px;
    color:#0000000;
 }

 .lineBlock{
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
 }

.rowBody{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    margin-left: 1%;
    color: #FFFFFF;
    padding-left: 4vw;
    padding-bottom: 4vh;
}

.noLine{
    border: none;
}

/*DetailsSubPages section end*/


/*questionsToStudents section*/

.questionsToStudents{
    background-color: black;
    height: 100%;
}

.questionsToStudentsCon{
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: #FFFFFF;
    height: 100%;

}

/*questionsToStudents section end*/



@media all and (max-width: 1440px) {
    .intro {
        height: 100vh;
    }

    .introContainer{
        height: 100vh;

    }
}

@media all and (max-width: 1024px) {
    .intro {
        height: 100vh;
    }

    .introContainer{
        height: 100vh;

    }

}


@media all and (max-width: 700px) {
    .intro {
        height: 100%;
    }

    .introMainText{
        margin: 0 auto;
        margin-top: 5vh;
    }

    .introSecondaryText{
        margin: 0 auto;
        margin-top: 5vh;
    }

    .mainLogo{

    }

    .mainButton{
        margin: 0 auto;
        margin-top: 5vh;
    }



    .introContainer{
        height: 100%;
        padding-bottom: 20px;
    }

    .cardsRow{
        display: none;
    }

    .slider{
        display: block;
    }

    .card{
        height: 100%;
        width: 80%;
        margin: 0 auto;
    }
}
